<!-- {{#each cssloginAssets}}
<link href="{{this}}" rel="stylesheet" ></link>
{{/each}}
header logo: style can be found in header.less
<section data-ui-view></section>
{{#each jsloginAssets}}
<script src="{{this}}"  ></script>
{{/each}} -->
<!-- ./wrapper -->
{{#section 'head'}}
	{{#each cssloginAssets}}
		<link href="{{this}}" rel="stylesheet" ></link>
	{{/each}}
{{/section}}
<section data-ui-view></section>
{{#section 'footer'}}
	{{#each jsloginAssets}}
		<script src="{{this}}"  ></script>
	{{/each}}
{{/section}}